<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Datareset>
            <version>0.1.0</version>
        </Wage_Datareset>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <datareset before="Mage_Adminhtml">Wage_Datareset_Adminhtml</datareset>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <datareset>
                <class>Wage_Datareset_Model</class>
                <!--resourceModel>datareset_mysql4</resourceModel-->
            </datareset>
            <!--datareset_mysql4>
                <class>Wage_Datareset_Model_Mysql4</class>
                <entities>
                    <datareset>
                        <table>datareset</table>
                    </datareset>
                </entities>
            </datareset_mysql4-->
        </models>
        <!--resources>
            <datareset_setup>
                <setup>
                    <module>Wage_Datareset</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </datareset_setup>
            <datareset_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </datareset_write>
            <datareset_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </datareset_read>
        </resources-->
        <blocks>
            <datareset>
                <class>Wage_Datareset_Block</class>
            </datareset>
        </blocks>
        <helpers>
            <datareset>
                <class>Wage_Datareset_Helper</class>
            </datareset>
        </helpers>
    </global>
</config>